<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Marathons</title>
</head>
<body>
    <div th:replace="header"></div>
    <h2>List of Marathons</h2>
    <form action="#" th:action="@{/create-marathon}" method="get"  sec:authorize="hasRole('ROLE_MENTOR')">
        <input type="submit" value="Create Marathon">
    </form>
    <br>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Title</th>
            <th sec:authorize="hasRole('ROLE_MENTOR')" colspan="2">Operations</th>
            <th>Sprints</th>
        </tr>
        <tr th:each="marathon, iStat: ${marathons}">
            <td th:text="${iStat.index + 1}" />
            <td th:text="${marathon.id}" />
            <td>
                <!--Reference for mentors-->
                <a th:href="@{|/students/${marathon.id}|}" th:text="${marathon.title}"
                   sec:authorize="hasRole('ROLE_MENTOR')"/>
                <!--Reference for trainees-->
                <a th:href="@{/sprints/{marathon_id}(marathon_id=${marathon.id})}" th:text="${marathon.title}"
                   sec:authorize="hasRole('ROLE_STUDENT')"/>
            </td>
            <td sec:authorize="hasRole('ROLE_MENTOR')">
                <a th:href="@{|/marathons/edit/${marathon.id}|}">Edit</a>
            </td>
            <td sec:authorize="hasRole('ROLE_MENTOR')"  >
                <a th:href="@{|/marathons/delete/${marathon.id}|}">Close</a>
            </td>
            <td>
                <form th:action="@{/sprints/{marathon_id}(marathon_id=${marathon.id})}">
                    <input type="submit" value="List of Sprints">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>